.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  max-width: 250px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin: 10px 0;
}

.card-technology,
.card-dimensions,
.card-price {
  margin: 5px 0;
  color: #555;
}

.card-price {
  color: green;
  font-weight: bold;
}
